body {
    align-items: center;
}
h2 {
    font-family: 'Yellowtail', cursive;
    font-weight: bold;
    font-size: 2.5rem;
    margin: 0;
}
h4 {
    font-family: 'Gideon Roman', cursive;
    font-size: smaller;
    color: gray;
    margin: 0;
}
#table-section {
    background-image: url(../assets/list-bg.png);
    /* background-position: ; */
    font-family: 'Open Sans Condensed', sans-serif;
    max-width: 800px;
    
}

table {
    text-indent: 50px;
}

hr {
    height: 10px;
    background-image: url(../assets/hr-img.png);
    border: 0;
}

#title {
    display:flex;
    flex-direction: column;
}

#header-left {
    display: flex;
    flex-direction: row;
}

header {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

#logo {
    height: 45px;
}

footer {
    text-align: center;
    color: gray;
    font-size: smaller;
}

p {
    font-family: sans-serif;
}

#granulated-sugar {
    text-decoration: line-through;
}

#egg-yolks {
    text-decoration: line-through;
}

#share {
    background-color: #b9806a;
    color: white;
    height: 45px;
    font-family: 'Gideon Roman', cursive;
}

#vanessa {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
}
